# Inclusive MVA Config
mDiMu = 0
ptDiMu = 1
yDiMu = 1
mDiJet = 1
ptDiJet = 0
yDiJet = 0
ptMu1 = 0
ptMu2 = 0
etaMu1 = 0
etaMu2 = 0
ptJet1 = 0
ptJet2 = 0
etaJet1 = 1
etaJet2 = 1
cosThetaStar = 1
deltaEtaJets = 1
productEtaJets = 1
nJetsInRapidityGap = 0
    
deltaPhiJets = 0
deltaRJets = 0
deltaEtaMuons = 0
deltaPhiMuons = 0
deltaRMuons = 0

relIsoMu1 = 0
relIsoMu2 = 0
ht = 0
nJets = 0
htInRapidityGap = 0

weightsDirName = weightsVBF
vbfSelection = 1

nTrees = 850
nEventsMin = 300 #Default was 150
   
# Weight must be added in exactly the same order as filenames
sigFile = signalTreeGG.root
sigWeight = 4.295e-07
sigFile = signalTreeVBF.root
sigWeight = 3.350e-08
sigFile = signalTreeZH.root
sigWeight = 8.675e-09
sigFile = signalTreeWH.root
sigWeight = 1.533e-08

bakFile = backgroundTreeDY.root
bakWeight = 1.159e-04
bakFile = backgroundTreeTT.root
bakWeight = 3.510e-05
